/*
Theme Name: Bootstrap 4 Sass
Description: Bootstrap 4 with Sass
*/

// import files
@import "import";

/* GENERAL STYLES
-------------------------------------------------*/

body {
    background: $white;
    line-height: 1.4;
        font-size: $font-size-base;
}


/* COLORS
--------------------------------------------------*/

a, a:visited {
    color: black;
}



p {
  font-size: $font-size-node;
}

.view-header {
  font-size: $font-size-node;
}


// img responsive
img  {
max-width: 100%;
  height: auto;

  }

.main-content {

  .col-auto {

    padding-right: 15px;
    padding-left: 0 !important;

    }

    }


.breadcrumb  {
  a:link, a:visited {
    display:none;
}

}

  /* mas estilos
  --------------------------------------------------*/
.bg-inverse {
    background: $primary-shade !important;
}



.menu--main li a {
    color: $primary-shade;
}

.menu--account li a {
    color: $primary-shade;
}

.site-name-slogan a {
    text-decoration: none;
}

.card-group img {
    margin: 0;
    max-width: 100%;
    height: auto;
}

.card-group .field--type-image {
    margin: 0
}

.slick {
    width: 100%;
}

.slick>div {
    margin: 0 15px;
}
