/**
 * @file
 * Block module.
 */

 /* ******* */
 /* bloques */
 /* ******* */

 #block-lacanti-page-title {
    border-style: none;
    border-width: 1px;
    padding: 0 1rem 1rem 2.2rem;
    margin: 0 0 1rem;

/** romper texto */
    -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;

}

.path-frontpage {

      #block-lacanti-page-title {
       border-style: none;
       border-width: 1px;
       padding: 0 1rem 1rem 0;
       margin: 0 0 1rem 0;

    }

}



.path-taxonomy  {
  #block-lacanti-page-title {

       color:$brand-inverse;
 }
}

 #block-nuestrosservicios h2,
 #block-nuestrosservicios p,
 #block-textodestacado {
   text-align: center !important;
 }

 #block-textodestacado {
   margin: 25px 0;
 }


#block-lacanti-footer  {


}
.sidebar {
.block-menu {
    border-style: none;
    border-width: 1px;
    padding: 1rem;
    margin: 0 0 0 0 !important;
}
}
