/**
 * @file
 * Styling for boostrap cards.
 */
.card-group > .card:first-child {
  margin: 5px 5px 0 0;
}
/* cards */

.card-group img {
    margin: 0;
    max-width: 100%;
    height: auto;
    width:100%;
}

.card {
  border: 1px solid white;
  border-radius: 0;
  @include horizontal-stripe-1;
  color: black;
  padding: 25px 20px 55px;
  margin: 25px 5px;
}

.card-header {
  background: white;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
  padding: 25px 0 0 16px;
  margin: 0;

  a:link,
  a:visited {
    font-size: 1.8em;
    line-height: 1em;
  }
}

.card-body {
  background: white;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding:0.5em 1rem;
}
