/**
 * @file
 * Visual styles for Bootstrap Barrio's field components.
 */
.field--type-entity-reference {
  margin: 0 0 ($spacer * 1.2);
}

.field--type-entity-reference .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: ($spacer * .3);
  /* LTR */
}

[dir="rtl"] .field--type-entity-reference .field__label {
  padding-left: ($spacer * .3);
  padding-right: 0;
}

.field--type-entity-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.field--type-entity-reference ul.links li {
  float: left;
  /* LTR */
  padding: 0 $spacer 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir="rtl"] .field--type-entity-reference ul.links li {
  padding: 0 0 0 $spacer;
  float: right;
}
@media all and (min-width: 560px) {
  .node .field--type-image {
    // float: left;
    /* LTR */
    margin: 0 1.4rem 0 0;
    /* LTR */
  }

  [dir="rtl"] .node .field--type-image {
    float: right;
    margin: 0 0 0 $spacer;
  }

  .node .field--type-image+.field--type-image {
    clear: both;
  }
}

.field--name-field-user-picture img,
.field--type-image img {
  margin: 0 0 $spacer;
}

.field--type-image a {
  border-bottom: none;
}

.field--name-field-tags {
  margin: 0 0 ($spacer * 1.2);
}

.field--name-field-tags .field__label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px;
  /* LTR */
}

[dir="rtl"] .field--name-field-tags .field__label {
  padding-left: 5px;
  padding-right: 0;
}

.field--name-field-tags .field__label,
.field--name-field-tags ul.links {
  // font-size: $font-size-sm;
}

.node--view-mode-teaser .field--name-field-tags .field__label,
.node--view-mode-teaser .field--name-field-tags ul.links {
  font-size: $font-size-sm;
}

.field--name-field-tags ul.links {
  padding: 0;
  margin: 0;
}

.field--name-field-tags ul.links li {
  float: left;
  /* LTR */
  padding: 0 $spacer 0 0;
  /* LTR */
  white-space: nowrap;
}

[dir="rtl"] .field--name-field-tags ul.links li {
  padding: 0 0 0 $spacer;
  float: right;
}

.field--label-inline .field__item,
.field--label-inline .field__label {
  display: inline-block;
}
/* campos  */
.field__label {
  font-weight: bold !important;
}

.field--name-field-tipo-de-proyecto {
  .field__items {
    background-color: $gray-100;
    padding: 15px;
  }
}

.field--name-field-tags {


  h3, .h3 {
     font-size: 1.2rem;
}
  .field__items {
    background-color: $gray-100;
    padding: 15px !important;
    margin: 15px 0 0 0 !important;
  }
}

.field--name-field-galeria {
  .field__items {
    width: 100%;

    .field__item {
      float: left;
      // width: 50%;
      padding-right: 10px;

      img {
        max-width: 232px;
        height: auto;
      }
    }
  }
}

.field--type-video-embed-field  {

  margin:0 0 15px 0;

}
