/* ------------------ Navbar ----------------- */
.navbar-dark .navbar-nav .nav-link {
  color: black;
}


.nav-link {
    display: block;
    // padding: 0 1rem;
}
/* menu principal*/
.menu-principal {


  //
  @include circles-4;

  li  {
  background: white;
      margin: 15px;
      padding:5px;
  }


  a,
  a:visited {
    color: black;
    padding: 0 1rem;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: black !important;
  }
}

@include media-breakpoint-up(md) {
    /* menu principal*/
    .menu-principal {

    height: 70px;

    li  {
    background: white;
        margin: 0 17px 0 0;
        padding:0;
    }

  }


  }

/* termina menu principal */

.navbar-dark .navbar-nav .nav-link {
  color: black !important;
}

.navbar-dark .navbar-toggler {
  background: gray;
}

.navbar-brand {
    height: 90px ;
    margin: 31px 0 10px 0 !important;
    width:100%;


    /* eliminando d-none
    --------------------------------------------------*/
    .d-none {
        display: block !important;
    }

    img {

       // width:80%;
       // height:50%;
       max-width: 35%;

     }
     @include media-breakpoint-up(md) {

       /* eliminando d-none
       --------------------------------------------------*/
       .d-none {
           display: inline !important;
       }

       img {

          // width:80%;
          // height:50%;
          max-width: 15%;

        }
      }


/* Wesite title */
     span {

      font-size: 2em;
        margin: 31px 0 10px 0;
      }
}
