/**
 * @file
 * Styles for Bootstrap Barrio page.
 */
#header {
   @include circles-1  ;


  @media (min-width: 768px) {

  }
  // #CollapsingNavbar {
  //   display: block;
  //   margin: 0 auto;
  //   }
  #block-lacanti-main-menu {
    a:link,
    a:visited {
      font-size: $font-size-node;
    }
  }
  @media (max-width: 768px) {
    #block-lacanti-main-menu {
      width: 100%;
    }
  }
}
// termina header

.navbar > .container,
.navbar > .container-fluid {
  justify-content: center;
}

.bg-primary {
  background-color: transparent !important;

  a:link,
  a:visited {
    color: black;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
/* breadcrumb */
.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: white;
  border-radius: 0.25rem;

  .breadcrumb-item {
    display: none;
  }
}

.region-featured-bottom-third {
  margin: 8em 0 0;
}

#search-block-form {
  .form-group {
    margin-bottom: 0;
  }
}
// i.better_search {
//     background: url(images/search-icon.svg) center center no-repeat;
//     height: 30px;
//     width: 30px;
//     font-style: normal;
//     font-weight: normal;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     /* display: inline-block; */
// }
//
// #search-block-form .icon {
//     position: absolute;
//     border: none;
//     top: 0;
//     right: 0;
//     height: 30px;
//     width: 30px;
//     color: #4f5b66;
//     background: black;
//     opacity: 100;
//
//
// }

.navbar {

    padding: 0.5rem 0;
}


/* block-logotipolacanti */
.navbar-brand {

  // 
  //
  //
  // height: 90px;
  // margin: 31px 0 10px 0;
  //
  //   img {
  //
  //     // width:80%;
  //     // height:50%;
  //     max-width: 17%;
  //
  //   }
  //
  //   span {
  //
  //   font-size: 3em;
  //     margin: 31px 0 10px 0;
  //   }

}
