/**
 *
 * Pagination.
 */

 .pagination {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     padding-left: 0;
     list-style: none;
     border-radius: 0.25rem;
     margin:15px 0 0 0;
 }

  .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: black;
      border-color: gray;
  }


  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
