/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */
input[type="search"] {
  box-sizing: border-box;
}

header #search-block-form {
  padding: 5px 15px;
  flex-flow: row wrap;
}

#search-block-form {
  display: flex;
  padding: 5px 10px 15px 10px;
}
// cursor con lupa que aparecia
#search-block-form:hover .icon,
#search-form:hover .icon {
  background: white;
  display: none !important;
}

.js-form-type-search input.form-search {
  // min-width: 250px;
  margin: 0 0 0 8px;
}
@media (min-width: 768px) {
  .js-form-type-search input.form-search {
    width: 100% !important;
    margin: 0;
  }
}


/* campo en pagina search */

#header  {
#block-lacanti-content {
  .js-form-type-search input.form-search {
    height: 30px;
    background: white;
    border: 1px solid black;
    font-size: 1em;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 100;
    margin: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}

}
