/* ------------------ Sidebar ----------------- */
#sidebar_first {
  .block {
    // fondo bloques en barras//
    @include dots-1;

    .content {
      font-size: $font-size-base;
      line-height: $line-height-sm;
    }
  }
}

#sidebar_second {


  .block {
    border-style: none; //mod
    border-width: $border-width;
    padding: $spacer;
    margin: 0 0 $spacer;
    // @include circles-3;
    width:100%;



    h2 {
      color: black;
      font-size: 1.4em;
      font-weight: 800;
    }

    .views-field-title {
      max-width: 260px;
      margin: 9px 0 15px 0;
    }

    .views-field-changed  {
      font-weight: 300;
    }

    // fondo bloques en barras//
    .item-list, .navbar-nav, .content {
      @include circles-1;
      // filter: brightness(0.5) sepia(1) hue-rotate(-50deg) saturate(8);
      line-height: $line-height-sm;
      padding:0 0 0 15px;

      color: black;
      font-size: 1em;
      font-weight: 600;
      width: 100%;

      a:link, a:visited {
        color: black;
        font-size: 1em;
        font-weight: 600;
        }

    }

    .content {
      font-size: $font-size-base;
      line-height: $line-height-sm;
      padding:5px;
    }
  }

  @include media-breakpoint-up(sm) {

    .block {

      width:95%;

    }

  }
}

.sidebar {
  font-size: $font-size-base;

  .block {
    border-style: none; //mod
    border-width: $border-width;
    padding: $spacer;
    margin: 0 0 $spacer;

    .content {
      font-size: $font-size-base;
      line-height: $line-height-sm;
    }
  }

  h2 {
    margin: 0 0 ($spacer * .5);
    border-bottom: 0 solid $border-color;
    padding-bottom: 3px;
    text-shadow: 0 $border-width 0 $white;
    font-size: $font-size-lg;
    line-height: $headings-line-height;
  }

  tbody {
    border: none;
  }

  tr.even,
  tr.odd {
    background: none;
    border-bottom: $border-width solid $border-color;
  }

  nav ul.nav {
    // margin: 0 -($spacer);
    margin: 0;
    list-style: square;
  }

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem 0 0;
  }
}

element.style {}

.sidebar nav ul.nav {
  margin: 0;
  list-style: none;
}
/*  */
.path-frontpage {
  .sidebar {
    flex: 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .path-frontpage {
    .sidebar .block {
      padding: 0;
    }
  }
}
