/**
 * @file
 * Footer Styling.
 */
.site-footer {
  color: white;
  padding: $spacer 0;
  margin: 25px 0 0;
  // background: $accent-shade !important;

   @include dots-9;

  a:link,
  a:visited {
    color: white;
  }

  .layout-container {
    padding: 0 $spacer;
  }

  .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: row;
    padding-left: 5px;
    margin-bottom: 0;
    list-style: none;

    li {
      padding: 0 $spacer;
    }
  }

  #block-redessocialesfooter {
    ul {

      padding:0;
      margin:0 0 0 19px;

      li {

        float:left;
        list-style: none;
        margin:0 15px 0 0;

        img {
          width: 28px;
    height: 28px;
        }
      }
    }
  }
}
// .site-footer {
//     background: $accent-shade !important;
// }
/* Footer Top Styling. */
.site-footer__top .content {
  margin-top: 0;
}
/* Footer Bottom Styling. */
.site-footer__bottom .block {
  margin: ($spacer / 2) 0;
}

.site-footer__bottom .content {
  padding: ($spacer / 2) 0;
  margin-top: 0;
}

.footer_fourth {
  background-color: #1A1A1A;
}


#block-lacanti-account-menu {
  .nav-link {
      display: block;
      padding: 0.5rem 1.5rem;
  }
}
