/**
 * @file
 * Styling for Views in Bartik.
 */
/* Tab styles */
.views-displays .tabs .open > a {
  border-radius: $border-radius-lg $border-radius-lg 0 0;
}

.views-displays .tabs .open > a:focus,
.views-displays .tabs .open > a:hover {
  color: $link-color;
}

.views-displays .secondary .form-submit {
  font-size: $font-size-sm;
}
/* Tabs action list styles */
.views-displays .tabs .action-list {
  padding: 0;
}
/* Contextual filter options styles */
.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #F9F9F9;
}
/* Views action dropbutton styles */
.views-ui-display-tab-actions .dropbutton .form-submit {
  color: $link-hover-color;
}

.views-ui-display-tab-actions .dropbutton .form-submit:focus,
.views-ui-display-tab-actions .dropbutton .form-submit:hover {
  color: $link-color;
}
/* Vistas para el tema */
.view-content {
  .views-field-title {
    clear: none;
    font-size: $font-size-node;
    line-height: $line-height-base;
  }
  /* cartas */
  .card-group {

    .card {
      min-width: 100%;
     max-width: 100%;
    }

    @include media-breakpoint-up(sm) {

      .card {
        min-width: 98%;
       max-width: 550px;
      }

    }

  }
}

.views-field-title {
  max-width: 260px;
  margin: 9px 0 35px;
}
.view-proyectos {
.view-content  {
  margin: 0 0 0 3px;
  // p {
  //   font-size: 1.6rem;
  // }
}

}

/* taxxonomy view */
.view-taxonomy-term {
  .h2,
  h2 {
    font-size: 1.6rem;
  }

  .content {
    margin: 25px 0 0 0;
    p {
      font-size: 1.6rem;
      color:$brand-inverse
    }
  }

  .view-content  {
    margin: 0 0 0 3px;
    // p {
    //   font-size: 1.6rem;
    // }
  }

  .card-group {
    margin: 10px 0 15px 13px;
    padding: 0;

    a:link,
    a:visited {
      font-size: 2rem;
      font-family: 'Muli', arial;
      font-style: normal;
      font-weight: 600;
    }
  }

  .card-header {
    padding: 0 0 35px;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: white;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
  }

  .card-body {
    display: none;
  }
}
/* vista proyectos*/
.view-taxonomia-proyectos {
  margin: 0 0 0 1px;

  p {
    -ms-word-break: break-all;
       word-break: break-all;
       word-break: break-word;
}

p:nth-child(odd) {
  padding: 0 25px 0 0;
}

p:nth-child(even) {

}

  .view-content  {
    margin: 25px 0;
    // p {
    //   font-size: 1.6rem;
    // }
  }

  .h3,
  h3 {
    font-size: 1.6rem;
  }

  .card-group {
    margin: 10px 0 15px 13px;
    padding: 0;

    a:link,
    a:visited {
      font-size: 1.6rem;
      font-family: 'Muli', arial;
      font-style: normal;
      font-weight: 600;
    }
  }

  .card-header {
    display: none;
  }
}
/* View proyectos */
.view-proyectos {
  @media (min-width: 576px) {
    .card-group > .card + .card {
      margin-left: 15px;
      border-left: 0;
    }
  }

  .h3,
  h3 {
    font-size: 1.6rem;
  }

  .card-group {
    margin: 10px 0 15px 13px;
    padding: 0;

    a:link,
    a:visited {
      font-size: 1.6rem;
      line-height: 1.2em;
      font-family: 'Muli', arial;
      font-style: normal;
      font-weight: 600;
    }
  }

  .card-header {
    padding: 8px 0 35px;
    margin-bottom: 0;
    margin-right: 10px;
    background-color: white;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
    max-width: 275px;
  }

  .card-body {
    display: none;
  }
}
/*  video relacionado */
.view-relacionado {
  .card-group {
    margin: 10px 0 15px -15px;
    padding: 0;

    a:link,
    a:visited {
      font-size: 1.3rem;
      font-family: 'Muli', arial;
      font-style: normal;
      font-weight: 100;
      margin: 15px;
    }
  }

  .card-header {
    display: none;
  }

  .card-body {
    display: none;
  }
}
